<div class="container">

  <mat-list>
    <!-- Start skeleton mock -->
    <ng-container *ngIf="isLoading">
      <mat-list-item *ngFor="let user of [1,2,3,4]">
        <img matListAvatar
             src="assets/avatar.png"
             [appSkeletonLoading]="true">
        <h3 matLine
            [appSkeletonLoading]="true"> Name </h3>
        <p matLine
           [appSkeletonLoading]="true"> Email </p>
      </mat-list-item>
    </ng-container>

    <!-- End skeleton mock -->

    <mat-list-item *ngFor="let user of users">
      <img matListAvatar
           src="assets/avatar.png"
           alt="...">
      <h3 matLine> {{user.name}} </h3>
      <p matLine> {{user.email}} </p>
    </mat-list-item>
  </mat-list>

  <button mat-button
          [appSkeletonLoading]="isLoading"
          color="primary">Button 1</button>
  <button mat-button
          [appSkeletonLoading]="isLoading"
          color="accent">Button 2</button>
</div>